node_modules/
dist/
.vite/
/.cache/
env
.env
.env.local
.DS_Store
.idea/
*.log
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
package-lock.tgz
.package-lock.json
*.tgz
public/assets/